<div class="container p-5">
    <div class="card">
        <div class="card-header">
            Q1
        </div>
        <div class="card-body">
            <div [formGroup]="Q1Form" (ngSumbit)="onClick()" class="input-group mb-3">
                <input type="text" class="form-control" formControlName="index" placeholder="Enter the index here" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="onClick()" type="submit">
                        Enter
                    </button>
                </div>
            </div>
            <h6>Result here: {{ result }}</h6>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header row m-0">
            Q2
            <button type="button" class="btn btn-primary btn-sm ml-auto px-3" (click)="addX()">
                Add X
            </button>
        </div>
        <div class="card-body">
            <form [formGroup]="Q2Form">
                <div formArrayName="Data">
                    <div class="Data" *ngFor="
                let xItem of Q2Form.get('Data')['controls'];
                let xIndex = index
              " [formGroupName]="xIndex">
                        <div class="card mt-2">
                            <div class="card-header row m-0">
                                X
                                <button type="button" class="btn btn-primary btn-sm ml-auto px-3" (click)="addY(xItem)">
                                    Add Y
                                </button>
                            </div>
                            <div class="card-body">
                                <div formArrayName="X">
                                    <div class="X" *ngFor="
                        let yItem of xItem.get('X')['controls'];
                        let yIndex = index
                      " [formGroupName]="yIndex">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" formControlName="Y" placeholder="Enter text here" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" (click)="onClickSave(xIndex, yIndex)" type="submit">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- <h6 class="ml-4 mb-4">Data: {{FinalData | json }} </h6> -->
        <h6 class="ml-4 mb-4">Data: {{orderedData | json }} </h6>
    </div>
</div>